<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="#">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Fruit Quality Assurance System</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
			CSS
			============================================= -->


    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="static/css/linearicons.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/util.css">
</head>

<body>
    <header id="header" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="#"><img src="static/img/logo.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="index.html">Home</a></li>
                        <li class="menu-has-children"><a href="#" class="logout">Logout</a>
                        </li>
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->


    <!-- start banner Area -->
    <section class="menu-area section-gap" id="coffee">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <br>
                        <br>
                        <h1 class="mb-10">Our Four Phases</h1>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="single-menu">
                        <div class="title-div justify-content-between d-flex">
                            <a href="/collection" class="primary-btn text-uppercase align-center">Milk Collection</a>
                        </div>
                        <p class="price">
                            Current Handler :
                        </p>
                        <p id=Collection style="display: inline; font-weight: bold;"></p>&nbsp;
                        <a href="/collection_handler"><img class="add-Collection-handler" src="static/img/add-user.png" alt="add new employee" srcset=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-menu">
                        <div class="title-div justify-content-between d-flex">
                            <a href="/wholesaler" class="primary-btn text-uppercase align-center">Milk wholesaler</a>
                        </div>
                        <p class="price">
                            Current Handler :
                        </p>
                        <p id=Reception style="display: inline; font-weight: bold;"></p>&nbsp;
                        <a href="/wholesaler_handler"><img class="add-Reception-handler" src="static/img/add-user.png" alt="add new employee" srcset=""></a>

                    </div>
                </div>
                <br>
                <div class="col-lg-6">
                    <div class="single-menu">
                        <div class="title-div justify-content-between d-flex">
                            <a href="/treatment" class="primary-btn text-uppercase align-center">Milk Treatment</a>
                        </div>
                        <p class="price">
                            Current Handler :
                        </p>
                        <p id=Treatment style="display: inline; font-weight: bold;"></p>&nbsp;
                        <a href="#"><img class="add-Treatment-handler" src="static/img/add-user.png" alt="add new employee" srcset=""></a>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-menu">
                        <div class="title-div justify-content-between d-flex">
                            <a href="/packaging" class="primary-btn text-uppercase align-center">Milk Packing</a>
                        </div>
                        <p class="price">
                            Current Handler :
                        </p>
                        <p id=Packing style="display: inline; font-weight: bold;"></p>&nbsp;
                        <a href="#"><img class="add-Packing-handler" src="static/img/add-user.png" alt="add new employee" srcset=""></a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div id="Popup">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <form  action="" id="handlerform" method="post">
                <span class="login100-form-title p-b-32" id="title">            
                    </span>
                <span class="txt1 p-b-11">
                        Email Id
                    </span>
                <div class="wrap-input100 m-b-36" data-validate="Username is required">
                    <input class="input100" type="email" id="emailid" name="emailidhandler" required>
                    <span class="focus-input100"></span>
                </div>

                <span class="txt1 p-b-11">
                        New Password
                    </span>
                <div class="wrap-input100 m-b-12" data-validate="Password is required">
                    <span class="btn-show-pass">
                            <i class="fa fa-eye"></i>
                        </span>
                    <input class="input100" type="password" id="pass" required>
                    <span class="focus-input100"></span>
                </div>
                <div class="text1 error-msg" id="error-message">
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" style="font-weight: bold;" >
                            Add Emp
                        </button>
                </div>
            </form>
        </div>
    </div>


    <script src="static/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="static/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="static/js/easing.min.js"></script>
    <script src="static/js/hoverIntent.js"></script>
    <script src="static/js/superfish.min.js"></script>
    <script src="static/js/jquery.ajaxchimp.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/jquery.sticky.js"></script>
    <script src="static/js/jquery.nice-select.min.js"></script>
    <script src="static/js/parallax.min.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>
    <script src="static/js/mail-script.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
    <script src="static/js/firebase.js"></script>
    <script src="static/js/mainadmin.js"></script>

    <!--===============================================================================================-->
    <script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>

    <!--===============================================================================================-->
    <script src="static/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/bootstrap/js/popper.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/daterangepicker/moment.min.js"></script>
    <script src="static/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <!-- <script>
        $(document).ready(function() {
            function disablePrev() {
                window.history.forward()
            }
            window.onload = disablePrev();
            window.onpageshow = function(evt) {
                if (evt.persisted) {
                    disableBack()
                }
            }
        });
    </script> -->

</body>

</html>