<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Fruit Quality Assurance System</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
			CSS
			============================================= -->
    <link rel="stylesheet" href="static/css/linearicons.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.css">
    <link rel="stylesheet" href="static/css/main.css">
    <script>
        function getdata(data) {
            window.location.replace("login.html");
            var data1 = data;
            localStorage.setItem("textvalue", data1);
            return false;
        }
    </script>


</head>

<body>

    <header id="header" id="home">

        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="#"><img src="static/img/logo.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#coffee">Our products</a></li>
                        <li><a href="#review">Contact Us</a></li>
                        <li class="menu-has-children"><a href="#">Login</a>
                            <ul>
                                <li>
                                    <form name="myform" method="POST" onclick="getdata('Admin')">
                                        <a href="#" onclick="javascript:document.myform.submit()">Admin</a></form>
                                </li>
                                <li>
                                    <form name="myform" method="POST" onclick="getdata('Employee')">
                                        <a href="#" onclick="javascript:document.myform.submit()">Employee</a></form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->


    <!-- start banner Area -->
    <!--<section class="banner-area" id="home">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-start">
                <div class="banner-content col-lg-7">
                    <h5 class="text-black text-uppercase">Ensuring Freshness with Every Bite: </h5x>
                        <h1> </h1>
                        <h2>The Future of Fruit Quality Tracking with Blockchain</h2>
                    
                    <a href="#" class="primary-btn text-uppercase">Buy Now</a>-->
                <!--</div>
            </div>
        </div>
    </section>-->
    <section class="banner-area" id="home">
        <div class="container">
          <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-7 text-black">
              <h5 class="text-black text-uppercase mb-4">Ensuring Freshness with Every Bite</h5>
              <h2 class="mb-4">The Future of Fruit Quality Tracking with Blockchain</h2>
              <!--<a href="#" class="primary-btn text-uppercase">Buy Now</a>-->
            </div>
          </div>
        </div>
      </section>
      

    <!-- End banner Area -->

    <!-- Start video-sec Area -->
    <section class="video-sec-area pb-100 pt-40" id="about">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg-6 video-left">
                    <h6>Fruit Quality Assurance</h6>
                    <h1>Traceability System Empowered by Blockchain</h1>
                    <p><span>The Future of Fruit Quality Tracking with Blockchain</span></p>
                </div>
            </div>
        </div>
    </section>
      
    <!-- End video-sec Area -->

    <!-- Start menu Area -->
    <section class="menu-area section-gap" id="coffee">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">We Ensure the Quality of YOUR FRUITS </h1>
                        <p>We are in extremely love with eco friendly system.</p>
                        <h3>OUR STAKEHOLDERS</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-menu">
                        <div class="title-div justify-content-between d-flex">
                            <h4>Farmers</h4>
                            <p class="price float-right">
                                Rs.28/-<br>
                            </p>
                        </div>
                        <p>
                            Info abc
                            <br>ABC %<br> DEF (%)
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-menu">
                        <div class="title-div justify-content-between d-flex">
                            <h4>Wholesalers</h4>
                            <p class="price float-right">
                                Rs.22/-<br>
                            </p>
                        </div>
                        <p>
                            XYZ
                            <br>ABC%<br> DEF%
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-menu">
                        <div class="title-div justify-content-between d-flex">
                            <h4>Retailers</h4>
                            <p class="price float-right">
                                Rs.32/-<br>
                            </p>
                        </div>
                        <p>
                            INFO XYZ
                            <br>info %<br> info %
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="review-area footer-area section-gap" id="review">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10" style="color: black;">Talk To Us</p>
                        <style></style>
                    </div>
                </div>
            </div>


            <div id="form">
                <form class="box" id="my-form" onsubmit="onsub()" method="POST">
                    <h5>Fill Details</h5><br>
                    <input type="text" placeholder="Name" required>
                    <input type="text" placeholder="Email" required>
                    <input type="text" placeholder="Phone No" required>
                    <input type="text" placeholder="City" required>
                    <input type="submit" value="Submit">
                    <input type="reset" value="Reset">
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Us</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                        </p>
                        <p class="footer-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());

                                function onsub() {
                                    window.alert("Thank you. We will contact you Soon");
                                }
                            </script> All rights reserved |
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <div class="col-lg-5  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>Stay update with our latest</p>
                        <div class="" id="mc_embed_signup">
                            <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                                <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                </div>
                                <div class="info pt-20"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                    <div class="single-footer-widget">
                        <h6>Follow Us</h6>
                        <p>Let us be social</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End review Area -->
    <!-- <footer class="footer-area section-gap">

    </footer> -->
    <!-- End footer Area -->

    <script src="static/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="static/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="static/js/easing.min.js"></script>
    <script src="static/js/hoverIntent.js"></script>
    <script src="static/js/superfish.min.js"></script>
    <script src="static/js/jquery.ajaxchimp.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/jquery.sticky.js"></script>
    <script src="static/js/jquery.nice-select.min.js"></script>
    <script src="static/js/parallax.min.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>
    <script src="static/js/mail-script.js"></script>
    <script src="static/js/main.js"></script>


</body>

</html>